.article-page {
    position: absolute;
    top: 10%;
    left: 10%;

    background-color: white;

    width: 80%;
    height: 80%;
    padding: 30px;

    display: grid;
    grid-template-columns: calc(50% - 15px) auto;

    gap: 30px;

    border-radius: 8px;

    z-index: 999;
    overflow: hidden;
}

.article-page .close-menu {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--secondary-color-gray);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background 0.3s ease;
    z-index: 1000;
}

.article-page .close-menu:hover {
    background: var(--secondary-light-gray);
}

.article-page>.gallery {
    height: 100%;
    display: grid;
    grid-template-rows: 82% 18%;
    
    overflow: hidden;
}

.article-page .gallery .images-container {
    container-name: images;
    container-type: size;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    border-radius: 4px;
    border: 1px solid var(--secondary-light-gray);
}
.article-page>.gallery>.images-container>.images {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
}
.article-page>.gallery>.images-container>.images>li{
    container: images;
    display: inline-block;

	height: 100cqh;
    width: 100cqw;

    flex-shrink: 0;
    z-index: -1;

    background-image: url("../../src/istockphoto-1147544807-612x612.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.article-page>.gallery>.list {
    container-name: list;
	container-type: size;

    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;

    padding-bottom: 5px;
    padding-top: 5px;

    z-index: 99;
    background-color: white;
    overflow: hidden;
}
.article-page>.gallery>.list>li{
    container: images;
    display: inline-block;

	height: 100cqh;
    width: 100cqh;

    margin-right: 5px;

    border-radius: 4px;
    border: 1px solid var(--secondary-light-gray);

    flex-shrink: 0;

    background-image: url("../../src/istockphoto-1147544807-612x612.jpg");
    background-position: center;
    background-size: cover;
}

.article-page .gallery .list {
    cursor: grab;
    user-select: none;
}

.article-page .gallery .list:active {
    cursor: grabbing;
}

.article-page .gallery .list::-webkit-scrollbar {
    display: none; /* Hide scrollbar for cleaner look */
}

.article-page .gallery .list {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/*------------------------*/

.article-page>.body {
    display: flex;
    flex-direction: column;
}
.article-page>.body>h1 {
    font-size: 40px;
}
.article-page>.body>h2 {
    font-size: 30px;
    padding-bottom: 20px;
}
.article-page>.body>p {
    padding-bottom: 20px;
}
.article-page>.body>.tags {
    display: flex;
    flex-direction: row;
}
.article-page>.body>.tags>li {
    color: var(--secondary-color-gray);

    font-size: 13px;

    padding: 3px;
    margin-right: 5px;

    border: 1px solid var(--secondary-light-gray);
    border-radius: 5px;

}
.article-page>.body>.tags>li:hover {
    border: 1px solid var(--secondary-color-gray);
    cursor: pointer;
}

.article-page>.body>.padding {
    height: 100%;
    flex-shrink: 3;
    flex-grow: 3;
}

.article-page>.body>.colors {
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.article-page>.body>.colors>li {
    width: 40px;
    height: 40px;

    margin-left: 10px;

    background-color: var(--secondary-color-gray);
    border: 2px solid var(--secondary-light-gray);

    border-radius: 50%;
}
.article-page>.body>.colors>li:hover {
    outline: 3px solid var(--secondary-light-gray);
    cursor: pointer;
}
.article-page>.body>.colors>.selected {
    outline: 3px solid var(--secondary-color-gray);
    border: 3px solid rgb(255, 255, 255);
}
.article-page>.body>.colors>.selected:hover {
    outline: 3px solid var(--secondary-heavy-gray);
}


.article-page>.body>.sizes {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.article-page>.body>.sizes>li {
    width: 100%;
    color: var(--secondary-color-gray);

    text-align: center;
    font-size: 20px;

    margin-top: 15px;
    padding: 10px;

    border: 1px solid var(--secondary-light-gray);
    border-radius: 5px;
}
.article-page>.body>.sizes>li:hover {
    border: 1px solid var(--secondary-color-gray);
    cursor: pointer;
}
.article-page>.body>.sizes>.selected {
    color: black;
    border: 1px solid rgb(0, 0, 0) !important;
    outline: 1px solid rgb(0, 0, 0) !important;
}
.article-page>.body>.sizes>li.disabled {
    color: var(--secondary-light-gray);
    border-color: var(--secondary-white-gray);
    cursor: not-allowed;
    position: relative;
}

.article-page>.body>.sizes>li.disabled:hover {
    border-color: var(--secondary-white-gray);
}

.article-page>.body>.sizes>li.disabled::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 10%;
    right: 10%;
    height: 1px;
    background: var(--secondary-light-gray);
    transform: rotate(-45deg);
}
.article-page>.body>button {
    margin-top: 10px;

    padding: 12px;
    font-size: 16px;
    flex-shrink: 0;

    color: white;
    background: #4CAF50;

    border: 0;
    border-radius: 5px;

    cursor: pointer;
    transition: background 0.3s ease;
}
.article-page>.body>button:hover {
    background: #45a049;
}

@media (max-width: 1000px){
    .article-page {
        width: 100%;
        height: 100%;
        padding: 20px;

        top: 0;
        left: 0;

        display: grid;
        grid-template-columns:none;
        grid-template-rows: calc(45% - 15px) 55%;

        gap: 10px;

        overflow: hidden;
    }

    .article-page>.gallery {
        height: 100%;
        display: grid;
        
        grid-template-rows: none;
        grid-template-columns: 85% 15%;

        overflow: hidden;
    }
    .article-page>.gallery>.list {
        padding: 0;

        flex-direction: column;

        gap: 5px;
        padding-left: 5px;
    }
    .article-page>.gallery>.list>li {
        height: 100cqw;
        width: 100cqw;
    }
    .article-page>.body>h1 {
        font-size: 26px;
    }
    .article-page>.body>.colors>li {
        width: 30px;
        height: 30px;
    }
    .article-page>.body>.sizes>li {
        font-size: 14px;
    }
    
} /*----------------------*/